<%= form_with(model: video) do |form| %>
  <% if video.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
        <% video.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :video_file, "Last opp videoklipp", class:"form-label" %>
    <%= form.file_field :video_file, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :title, "Tittel", class:"form-label" %>
    <%= form.text_field :title, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, "Beskrivelse", class:"form-label" %>
    <%= form.text_area :description, class:"form-control" %>
  </div>

  <div>
    <%= form.submit class:"btn btn-success" %>
  </div>
<% end %>
